<div class="material-context menu-card-config">
  <div class="row">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          {{!-- Titre --}}
          <span class="card-title">{{loc.title}}</span>

          {{!-- Menu --}}
          <div class="row">
            <div class="card-type-select col s12">
              <ul class="tabs">
                <li class="tab col s3"><a class="menu-text" href="#card_text">{{loc.card_text}}</a></li>
                <li class="tab col s3"><a class="menu-sound" href="#card_sound">{{loc.card_sound}}</a></li>
                <li class="tab col s3"><a class="menu-drawing" href="#card_drawing">{{loc.card_drawing}}</a></li>
              </ul>
            </div>

            {{!-- Configuration d'une carte texte --}}
            <div id="card_text" class="col s12">
              <div class="row">
                <form class="card-form col s12">
                  <div class="row">
                    <div class="card-input input-field col s12">
                      <i class="material-icons prefix">create</i>
                      <input  id="card_text_content" type="text">
                      <label for="card_text_content">{{loc.displayed_text}}</label>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            {{!-- Configuration d'une carte son --}}
            <div id="card_sound" class="col s12">
              <div class="row">
                <form class="card-form col s12">
                  <div class="row">
                    <div class="card-input input-field col s12">
                      <i class="material-icons prefix">create</i>
                      <input  id="card_sound_content" type="text">
                      <label for="card_sound_content">{{loc.displayed_text}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="card-input input-field col s10">
                      <i class="material-icons prefix">audiotrack</i>
                      <input  id="card-soundpath" type="text">
                      <label for="card-soundpath">{{loc.played_sound}}</label>
                    </div>
                    <div class="col s2">
                      <a class="btn-floating btn-sound-search"><i class="material-icons">search</i></a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="sound-list hidden">
                       {{!-- Sera remplit dynamiquement --}}
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div id="card_drawing" class="col s12">
              <div class="row">
                <form class="card-form col s12">
                  <div class="row">
                    <div class="card-input input-field col s12">
                      <i class="material-icons prefix">create</i>
                      <input  id="card_content" type="text">
                      <label for="card_content">{{loc.displayed_text}}</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="card-input input-field col s12 m6 l6">
                      <a class="waves-effect waves-light btn"><i class="material-icons left">gesture</i>{{loc.displayed_draw}}</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>


        <div class="card-action">
		  <a class="waves-effect waves-teal btn btn-validate" href="#">{{loc.ok}}</a>
		  <a class="waves-effect waves-teal btn-flat btn-cancel" href="#">{{loc.cancel}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
