
<div class="app-name-ctn">
  <span class="app-name">{{name}}</span>
</div>
{{#each links}}
<a href="#" title="{{longCode}}" class="app-menu-ctn app-menu-type-{{icon}}">
  <i class="menu-icon ic ic-lg icon-{{icon}}"></i>
  <span class="menu-code">{{code}}</span>
</a>
{{/each}}
